// $bg : #0a0a0a;
$padding_bar_h: 10px;
$padding_bar_v: 6px;
$padding_section_v: 2px;
$padding_section_h: 8px;
$yellow_1: #faea8a;
$yellow_2:#fdd500;
$red_1: #db042e;
$red_2:#eb1a2d;
$red_3:#e1454b;
$black_1:#4a4b4c;
$black_2:#404040;
$black_3:#0a0a0a;

* { 
  all: unset;
  // background-color:red;
  // font-family: Monofur;
  font-size: 11;
}
//
.bar{
  background-color: transparent;

  // margin-top: $padding_bar_h;
  margin: $padding_bar_v 0px    0px 0px;
}

.start-h, .mid-h, .end-h{
 padding: $padding_section_v $padding_section_h;
  background-color: $black_3;
  // background-color: red;
}
.start-h{
  padding-left: 0px;
  border-radius:0px 6px 0px 0px;
}
.mid-h{
  border-radius:6px 6px 0px 0px;
}
.end-h{
  border-radius:6px 0px 0px 0px;
  padding-right: 0px;
}
//
//
.button{
 padding: $padding_section_v $padding_section_h;
  font-size: 200px;
}
.power_button{
    margin-left:14px; 
    font-size: 0px;
  background-color:$red_1;
  font-weight:900;
  border-radius:4px;
}

.menu_button{
  background-color:$yellow_1;
  font-weight:900;
  color:$black_1;
  margin-right:6px;
  border-radius:4px;
}

.processor_h{
  font-size: 36px;
  color: $black_1;
  // margin-left: 10px;
}
.workspace_entry{
  margin:2px;
  // margin-right:6px;
  border-radius:4px;
  padding:4px;
  color: $black_1;
  // font-size: 18;
}
.workspace_entry_selected{
  font-weight:900;
  // color:$red_1;
  color:$yellow_1;

}
.workspace_atention{
  font-weight:900;
  background-color: $yellow_1;
  color: $black_1;
}
.danger{
  color:red;
}
.warning{
  color:$yellow_2;
}
//

scale{
  margin-right: 10px;
}

scale trough {
  all: unset;
  background-color: $black_1;
	color: red;
  border-radius: 5px;
  min-height:6px;
  min-width: 10px;
  margin: .3rem 0 .3rem 0;
}

.scale_vol trough highlight {
  background-color: $red_1;
  border-radius: 5px;

}
