* { 
  // all: unset;
  font-family: Monofur;
  // font-size: 14;
}

.workspaces-widget{
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  background-color:#4a4a4a
  // border-radius: 30;
  // background-color:#0f0;
} //
.current{
  background-color:#3a3a3a
}
//
// tooltip {
//   border-width: 2px;
//   border-style:solid;
//   padding: 30px;
// r border-radius: 6px;
//   margin: 10px;
//   background-color: black; 
//   
// }
//
// .bat{
//   // background-color:#0f0
// }
//
// .Charging{
//
//   background-color:#0f0
// }
//
// .my{
//   background-color:green;
//   // background-color:#1a001a00;
// }
//
// .end{
//   background-color: blue;
//   border-radius: 8px;
// }
//
// .current{
//   background-color:#3a3a3a
// }
//
// .workspaces-widget{
//   border-radius: 20px;
//   padding: 10px;
//   margin: 20px;
//   background-color:#4a4a4a
//   // border-radius: 30;
//   // background-color:#0f0;
// } //
//
// .workspaces-button{
//   // background-color:#4a4a4a
// } //
//
// .workspaces-button:hover{
//   background-color:#4a4a4a
// } //
//
// .empty{
//   color:#0f0;
//   font-size: 0;
// }
// // .occupied{
// //   background-color:"#0f0";
// // }
// //
// //
// //
// // .example
// // {
// //     background-color: darkgreen;
// //     border: 2px solid white;
// //     border-radius: 8px;
// //     padding: 8px;
// //     margin: 8px;
// //     margin-right: 0px;
// // }
//
//
//
//
//
//
//
//
//
//
//
//
//
//
// // * {
// //   background-color: #3a3a3a;
// //   font-size:10px;
// //   color: #b0b4bc;
// //   padding: 10px;
// // }
//
// // .scale{
//   // width:100px;
//   // background-color:"red"
// // }
